@media all and (max-width: 1160px) {
  .container {
    padding: 0 15px;
    box-sizing: border-box;
  }
}

@media all and (max-width: 991px) {
  .custom_row {
    flex-direction: column;
  }
  .column_6 {
    width: 100%;
  }
  .container {
    max-width: 720px;
  }
  .ms-2 {
    margin-top: 40px;
  }
  #addBookModal .form_group {
    text-align: left;
  }

  .avatar-upload .avatar-preview > div {
    background-size: 100%;
    height: 470px;
    margin-bottom: 60px;
  }
}

@media all and (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}

@media all and (max-width: 576px) {
  .avatar-upload .avatar-preview > div {
    height: 200px;
  }
}

.navigationBarContainer {
  height: 90px;
  text-align: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: white;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 50;
}

.navBarContent {
  display: flex;
  height: 100%;
  padding-left: 50px;
  padding-right: 50px;
  align-items: center;
}

.navBarContent span {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 80px;
}

.navBarContent h1 {
  font-family: Luckiest Guy;
  color: #1c305c;
  font-size: 60px;
}

.navBarContent h1 a {
  text-decoration: none;
  color: #1c305c;
}

.icons a {
  color: #1c305c;
}

.shoppingBag[data-count]:before {
  content: attr(data-count);
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #bb0e1c;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 12px;
  z-index: 100;
}

.shoppingBag {
  position: relative;
  display: inline-block;
}
